.cajaNavBar {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: aquamarine;
}
.logo {
  height: 90px;
  border-radius: 90px;
}
.btnNavegacion {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  list-style: none;
}
.btnNavegacion a {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}
.btnNavegacion a:hover {
  transform: scale(1.2);
}
