.container {
  padding-bottom: 10px;
  margin-bottom: 0px;

  background-image: url("./img/bajos6.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.container h1 {
  color: aliceblue;
  text-align: center;
  font-size: 10vw;
  margin: 30px;
}
