.container {
  padding-bottom: 10px;
  margin-bottom: 0px;

  background-image: url("./img/bajos6.jpg");
  background-repeat: no-repeat;
  background-position: center center; /* centra horizontal y verticalmente */
  background-size: cover; /* hace que ocupe todo el fondo */
  background-attachment: fixed; /* opcional: hace que no se mueva al hacer scroll */
}
.container h1 {
  color: aliceblue;
  text-align: center;
  font-size: 150px;
  margin-bottom: 50px;
}
